#list-container {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.list-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.list-item {
  min-width: 100%;
  margin-bottom: 16px;
  padding: 12px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-tipo {
  border-radius: 10px;
  padding: 5px;
}

.type-pikachu {
  background-color: #ffcc00;
  color: #000;
}

.type-mewtwo {
  background-color: #7513c6;
  color: #fff;
}

.type-charizard {
  background-color: #f16d24;
  color: #fff;
}

.list-item .item-id {
  font-weight: bold;
  color: #555;
}

.list-item .item-treinador {
  color: #333;
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-item .delete-button {
  background-color: #ff4444;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.list-item .delete-button:hover {
  background-color: #cc0000;
}
